PORT=8080
PROJECT_NAME=statistics
SERVICE_NAME=statistics
ENV_NAME=local

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=test
DB_PASSWORD=test
DB_NAME=test

REDIS_LISTEN_PORT=6379
REDIS_DATA=/data
REDIS_HOST_NAME=redis
REDIS_DB=0
REDIS_URI=redis://redis:6379/0

USE_SWAGGER=True
DEBUG=True
LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=app.settings

COVERAGE_LIMIT=60

TEST_DB_PORT=5432

ALLOWED_HOSTS=*
