ROOT=/var/app
PORT=8080
HOST=_
BACKEND=app
BACKEND_PORT=8080

SSL=False
SSL_PORT=443
SSL_KEYS_LOCAL_PATH=/etc/letsencrypt/archive/dev.azscore.pw
SSL_KEYS_PATH=/var/app/ssl_cert
SSL_CERTIFICATE=fullchain1.pem
SSL_CERTIFICATE_KEY=privkey1.pem
SSL_DHPARAM=dhparams.pem